.logo {
    width: 60px;
    }
    
    h1{
    font-size: 50%;
    }
    
    footer
    {
        border: black solid 2px;
    }
    .imgfooter
    {
        width: 300px;
        
    }
    body
    {
        background-color: #FFCD05;
    }