.customArticleForma {
    /* background: white; */
    border: 2px black solid;
    border-radius: 2px;
    width: 300px;
    height: 300px;
    /* color:white; */
}
section{
    height: 70vh;
    /* border: green 2px solid; */
 
}
body{
    /* height: 50vh ;  */
    background: #ffcd05;
}

.logo {
    width: 60px;
}
.imgfooter {
    width: 300px;
}
