

.customContenedoTrjeta {
    background: #FFCD05;

}



.customIMGexpoXVIII {

    width: 90px;

}

.CustomImgFooter{
    width: 70px;
}
body{
    height: 100vh;
}   
.logo{
    width: 60px ;
}
.imgfooter{
    width: 300px;
}